html {
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #F0DDD6;
  font-weight: lighter;
  color: #123D6A;
}

body {
  width: 720px;
  margin: 100px auto;
  display:block;
  z-index: 2;
  background-color: #F0DDD6;

  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 20px 20px 17px 20px;
  font-weight: lighter;

  color: #aa3a51;
  display: block;
  background-color: #F0DDD6;
  border-bottom: 2px solid #aa3a51;
}

.unit_container {
  display: block;
  width: 100%;
  text-align: left;
  margin-top: -15px;
}

.unit_container p {
  text-align: left;
  text-transform: lowercase;
  display: inline-block;
  padding: 1px;
  font-weight: bold;
  color: #123D6A;
  font-size: 18px;
}

.units {
  margin-top: -10px;
  display: block;
  width: 100%;
  border: 2px solid #123D6A;
  padding: 10px;
  box-sizing:border-box;
}

.unitlabel {
  display: inline-block;
  width: 170px;
  padding: 5px;
  box-sizing:border-box;

  text-align: center;
  font-size: 13px;
  vertical-align:top;
  color: #123D6A;
}

.unitlabel img{ /* IMAGE STYLES */
  width: 100%;
  margin-bottom: 8px;
  opacity: 0.7;
}

.unitlabel img:hover {
  opacity: 1.0;
  cursor: help;
}

.hidden{
  visibility:hidden;
  position:absolute;
}

.selected img{
  opacity: 1.0;
}

form {
  margin-top: 20px;
}

form p {
  text-align: left;
  text-transform: lowercase;
  display: block;
  font-weight: bold;
  color: #123D6A;
  font-size: 18px;
  padding: 1px;
  margin-bottom: 10px;
}

/*format input fields*/
#inches_input {
    /*add padding and margins*/
    padding:10px;
    /*extend across entire fieldset*/
    width: 75%;
    box-sizing:border-box;
    font-size:13px;
    line-height:1.5;
    display:inline-block;
    color: #123D6A;
    margin-right: 5px;
}

.btn {
    display: inline-block;
    font-size: 13px;
    line-height: 1.5;
    width: calc(25% - 10px);
    padding: 10px;
    color: white;
    background-color: #123D6A;
}

.btn:hover, .btn:focus {
    background-color: #AB3B61;
}

.error {
    display:block;
    text-align:left;
}

.wait_time {
  display: block;
  text-align: left;
}

.status {
    text-align: left;
    text-transform: lowercase;
    display: block;
    font-weight: bold;
    color: #123D6A;
    font-size: 18px;
    padding: 1px;
    margin-bottom: 10px;
}

.link {
    font-size: 1rem;
}

.results {
  display: inline-block;
}

.show {display: block;}

#myProgress {
    width: 100%;
    margin-bottom:-20px;
}

.progress_bar {
    width: 33%;
    white-space: nowrap;
    overflow: hidden;
    float:left;
    text-overflow: ellipsis;
    text-align: center; /* To center it horizontally (if you want) */
    font-size: 1rem;
    line-height: 45px; /* To center it vertically */
    color: white;
}
#greenbar {
    background-color: #239B56;
}
#yellowbar {
    background-color: #F1C40F;
}
#redbar {
    background-color: #C0392B;
}
#myProgress {
    visibility: hidden;
    padding-bottom: 25px;
}
