html {
  width: 100%;
  height: 100%;
  z-index: 1;
  background: white;
  font-weight: lighter;
  color: black;
  font-family: 'Work Sans', sans-serif;
}

p {
  text-align: left;
}

body {
  width: 720px;
  margin: 30px auto;
  display:block;
  z-index: 2;
  background-color: white;
}

h1 {
  font-size: 40px;
  padding: 0px;
  font-weight: lighter;

  color: black;
  text-align: left;
  display: block;
}

.unit_container {
  display: inline-block;
  width: 100%;
}

.unit_container p {
  text-align: center;
  display: inline-block;
  font-weight: bold;
  color: black;
  font-size: 18px;
  padding: 5px;
}

.units {
  display: block;
  width: 100%;
  background-color: black;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
}

.unitselector {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.unitlabel {
  display: inline-block;
  width: 120px;
  height: 120px;
  overflow: hidden;
  padding: 5px;
  margin: 10px;
  box-sizing:border-box;

  text-align: center;
  font-size: 13px;
  font-weight: lighter;
  vertical-align:top;
  color: white;
}

.unitlabel.selected {
  background-color: white;
  color: black;
  border-radius: 5px;
}

.unitlabel img{ /* IMAGE STYLES */
  width: 100%;
  margin-bottom: 2px;
  opacity: 0.6;
  border-radius: 5px;
}

.unitlabel img:hover {
  opacity: 1;
  cursor: pointer;
}

.hidden{
  visibility:hidden;
  position:absolute;
}

.selected img{
  opacity: 1.0;
}

form {
  margin-top: 20px;
  border: 0;
}

form p {
  text-align: left;
  display: block;
  font-weight: bold;
  color: black;
  font-size: 18px;
  padding: 1px;
  margin-bottom: 10px;
}

/*format input fields*/
#inches_input {
    /*add padding and margins*/
    padding: 10px;
    /*extend across entire fieldset*/
    border: 0;
    border-radius: 5px;
    width: calc(70%);
    box-sizing:border-box;
    font-size:13px;
    line-height:1.5;
    display: inline-block;
    text-align: left;
    color: white;
    background-color: black;
    margin-right: calc(4.2%);
    font-family: 'Work Sans', sans-serif;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px black inset;
  -webkit-box-shadow: 0 0 0px 1000px black inset;
  -webkit-text-fill-color: white;
}

.btn {
    border-radius: 5px;
    border: 0;
    font-size: 13px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    line-height: 1.5;
    width: calc(25%);
    padding: 10px;
    color: black;
    background-color: #F1C40F;
}

.btn:hover, .btn:focus {
    color: #F1C40F;
    background-color: black;
}

.btn:hover {
  cursor: pointer;  
}

.error {
    display:block;
    text-align:left;
}

.wait_time {
  display: block;
  text-align: left;
}

.status {
    text-align: left;
    display: block;
    color: white;
    font-size: 18px;
    padding: 1px;
    margin-bottom: 10px;
}

.link {
    font-size: 1rem;
}

.results {
  display: inline-block;
}

.show {display: block;}

#myProgress {
    width: 100%;
    margin-bottom:-20px;
}

.progress_bar {
    width: 33%;
    white-space: nowrap;
    overflow: hidden;
    float:left;
    text-overflow: ellipsis;
    text-align: center; /* To center it horizontally (if you want) */
    font-size: 1rem;
    line-height: 45px; /* To center it vertically */
    color: white;
    border-radius: 5px;
}

#greenbar {
    background-color: #239B56;
}
#yellowbar {
    background-color: #F1C40F;
}
#redbar {
    background-color: #C0392B;
}
#myProgress {
    visibility: hidden;
    padding-bottom: 25px;
}
#report {
  background-color: black;
}