html {
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #F0DDD6;
  font-weight: lighter;
  color: black;
}

body {
  width: 720px;
  margin: 30px auto;
  display:block;
  z-index: 2;

  font-family: 'Comfortaa', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 20px 20px 17px 20px;
  font-weight: lighter;

  color: black;
  display: block;
  border-bottom: 2px solid black;
}

.unit_name {
  display: inline-block;
  text-align: left;
  vertical-align: 400%;
  padding: 15px;
  width: 120px;
  font-size: 20px;
}

.unit_container {
  display: block;
  width: 100%;
  text-align: left;
  border: 2px solid black;
}

.unit_container p {
  text-align: left;
  display: inline-block;
  padding: 1px;
  font-weight: normal;
  color: black;
  font-size: 18px;
}

.units {
  display: block;
  width: 100%;
  height: 60%;
  padding: 20px;
  overflow: auto;
  box-sizing:border-box;
}

.unitlabel {
  display: inline-block;
  width: 160px;
  height: 160px;
  padding: 5px;
  box-sizing:border-box;

  text-align: center;
  font-size: 16px;
  vertical-align: center;
  color: black;
}

.unitlabel img{ /* IMAGE STYLES */
  width: 100%;
  margin-bottom: 8px;
  opacity: 0.6;
}

.unitlabel img:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.hidden{
  visibility:hidden;
  position:absolute;
}

.selected img{
  opacity: 1.0 !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) !important;
}

.dynamic {
  font-family: Helvetica, Arial, sans-serif;
  padding: 15px;
}

form {
  margin-top: 20px;
}

form p {
  text-align: left;
  text-transform: lowercase;
  display: block;
  font-weight: bold;
  color: black;
  font-size: 18px;
  padding: 1px;
  margin-bottom: 10px;
}

/*format input fields*/
#inches_input {
    /*add padding and margins*/
    padding:10px;
    /*extend across entire fieldset*/
    width: 75%;
    box-sizing:border-box;
    font-size:13px;
    line-height:1.5;
    display:inline-block;
    color: black;
    margin-right: 5px;
}

.btn {
    display: inline-block;
    font-size: 13px;
    line-height: 1.5;
    width: calc(25% - 10px);
    padding: 12px;
    color: white;
    background-color: black;
    border: 0px;
}

.btn:hover, .btn:focus {
    background-color: #AB3B61;
}

.btn:hover {
  cursor: pointer;
}

.error {
    display:block;
    text-align:left;
}

.wait_time {
  display: block;
  text-align: left;
}

.status {
    text-align: left;
    text-transform: lowercase;
    display: block;
    font-weight: bold;
    color: black;
    font-size: 18px;
    padding: 1px;
    margin-bottom: 10px;
}

.link {
    font-size: 1rem;
}

.results {
  display: inline-block;
}

.show {display: block;}

#myProgress {
    width: 100%;
    margin-bottom:-20px;
}

.progress_bar {
    width: 33%;
    white-space: nowrap;
    overflow: hidden;
    float:left;
    text-overflow: ellipsis;
    text-align: center; /* To center it horizontally (if you want) */
    font-size: 1rem;
    line-height: 45px; /* To center it vertically */
    color: white;
}

#greenbar {
    background-color: #239B56;
}
#yellowbar {
    background-color: #F1C40F;
}
#redbar {
    background-color: #C0392B;
}
#myProgress {
    visibility: hidden;
    padding-bottom: 25px;
}

#report {
  align-self: left;
  background-color:#ccffcc;
  margin: 0px;
  width: 100%;
}
